@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Play';
}

body {
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    gap: 30px;
}

header {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 15px;
}

.header-box-1 {
    display: flex;
    align-items: center;
    gap: 16px;
}

.header-btn {
    padding: 6px 40px;
    font-size: 16px;
}

h1 {
    font-size: 3vmin;
}

.grid-lines-toggle {
    outline: 1px solid gray;
}

.container {
    outline: 1px solid black;
    max-height: 700px;
    max-width: 700px;
    height: 70vmin;
    width: 70vmin;
    display: grid;
}